
.gdfordev_header{
    height: 150px;
    background-color: blueviolet;
}
.gdfordev_header_top{
    display: flex;
    justify-content:flex-end;
    height: 60px;
    background-color: brown;
}
.gdfordev_header_top > a{
    margin: 20px;
    cursor: pointer;
    
}